{
    "partymeister" : {
        "server_host" : "my.party.server",
        "api_path" : "/my/server/api/path",
        "api_token" : "MyAPIToken1234567890",
    },
    "client_defaults" : {
        "colorize_output" : true,
        "compo_filter_whitelist" : [],
        "filter_processed_entries" : true,
        "filter_finished_competitions" : true
    }
}
